/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
    background-color: black;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    height: 100%;
  }
