<app-navbar></app-navbar>

<div class="home">

   <section id="top">

      <div class = "panel_1">

         <div class = "titre_style" style ="white-space: nowrap;">
            <h1>Nicolas Dubuisson</h1>
            <br>
            <p>software engineering student</p>
         </div>

         <c-carousel [dark]="false" [wrap]="true" [animate]="false" transition="crossfade">
            <c-carousel-indicators></c-carousel-indicators>

            <c-carousel-inner>
                  <c-carousel-item *ngFor="let slide of slides; index as i;">
                     <img
                        [src]="slide.src"
                        alt="{{slide.title}}"
                        class="image_carousel "
                        loading="lazy"
                     />

                     <c-carousel-caption class="carousel-caption-custom">
                        <h4>{{slide.title}}</h4>
                        <p>{{slide.subtitle}}</p>
                     </c-carousel-caption>
                  </c-carousel-item>

            </c-carousel-inner>
         </c-carousel>

      </div>

      <div class = "circle">
         <span class="material-symbols-outlined">
            arrow_circle_down
            </span>
      </div>

   </section>

   <section id="a-propos-section">

      <div class = "panel_2">

         <div class = "titre_flex">
            <h1>

               À propos
            </h1>
         
            <img src="../../assets/img/Profil.png" alt="Image 1" />

         </div>

         
            <div class = "a-propos">

                  <div class ="presentation">
                     <h4>P'tite présentation</h4>
                     <br>

                     Coucou 👋, je suis Nicolas Dubuisson, j'ai 21 ans et je suis passioné par l'informatique.
                     J'adore programmer des projets très différents et apprendre de nouvelles choses.
                     <br>
                     <br>
                     Je suis actuellement en 3e année de licence informatique à l'Université de Bordeaux.
                     Si vous êtes étudiants et vous souhaitez en savoir plus sur la licence informatique, vous pouvez me contacter sur mon Linkedin.
                  </div>

                  <div class="presentation_2">
                     <h4>Mes langages étudiés</h4>
                     <br>

                     <div *ngFor="let progressBar of progressBars" class="progress-bar-wrap">
                     <label>{{ progressBar.label }}</label>
                     <div id="progress-bar-container" class="progress-bar-container">
                        <div
                           [attr.id]="progressBar.label"
                           class="progress-bar"
                           [@animateProgressBar]="{
                           value: progressBar.animationState,
                           params: { startWidth: 0, endWidth: progressBar.value * 10, duration: '2s' }
                           }"
                        ></div>
                     </div>
                     </div>
                  </div>

                  <div class ="presentation_3">
                     <h4>Parcours scolaire</h4>
                     <br>

                     <my-timeline></my-timeline>
                     
                  </div>
               </div>
      </div>

      <div class = "circle_2">
         <span class="material-symbols-outlined">
            arrow_circle_down
         </span>
      </div>

   </section>

   <section id="projet">

      <div class = "panel_3">
         <h1>
            Mes projets
         </h1>
         <div class = "projet">

               <details>
                  <summary>
                     Github
                  </summary>
                  
                  <u>Description :</u>
                  <br>
                  <p>
                     La plupart de mes projets sont téléchargeables sur mon GitHub.
                  </p>
                  <a href="https://github.com/Nic33" target="_blank">
                     <img src = "../../assets/img/github-mark.png">
                  </a>
               </details>

               <details>
                  <summary>
                     Arduino
                  </summary>

                  <u>Description :</u>
                  <br>
                  <p>
                     Je propose des cours gratuits en Arduino.
                  </p>

                  <a class="Proj_Button" target="_blank"  href="">Arduino</a>

               </details>

               <details>
                  <summary>
                     Leston
                  </summary>

                  <u>Description :</u>
                  <br>
                  <p>
                     J'ai créé un logiciel en JavaFX.
                  </p>

                  <a class="Proj_Button" routerLink="/leston">Leston</a>

               </details>
            
               <details>
                  <summary>
                     Image Processing
                  </summary>

                  <u>Description :</u>
                  <br>
                  <p>
                     Projet réalisé dans le cadre de ma 3e année de licence Informatique.
                     Le but de ce projet est d'appliquer des filtres sur des images. 
                     J'utilise la technologie Spring Boot et le projet est sur mon GitHub.
                  </p>

                  <a class="Proj_Button" target="_blank"  href="https://imageprocessing.fr/">Image Processing</a>

               </details>

               <details>
                  <summary>
                     Lightup
                  </summary>

                  <u>Description :</u>
                  <br>
                  <p>
                     Projet réalisé dans le cadre de ma 2e année de licence Informatique.
                     Le but du jeu est d'éclairer toutes les cases vides. 
                  </p>

                  <a class="Proj_Button" target="_blank"  href="https://play.google.com/store/apps/details?id=com.Sevenic.LeakyWheelAndroid&hl=en&gl=FR">Lightup</a>

               </details>

               <details>
                  <summary>
                     Leaky Wheel
                  </summary>
                  <u>Description :</u>
                  <br>
                  <p>
                     J'ai créé un jeu sur Unity. 
                     Vous êtes une roue et votre objectif est d'éviter les clous qui tombent du ciel.
                  </p>

                  <a class="Proj_Button" target="_blank"  href="https://play.google.com/store/apps/details?id=com.Sevenic.LeakyWheelAndroid&hl=en&gl=FR">Android</a>

               </details>

         </div>
      </div>

   </section>

</div>

<app-footer></app-footer>

