$color_gradient : linear-gradient(90deg, rgb(17, 0, 167) 0%, rgb(0, 99, 238) 100%);

.footer{
    background: $color_gradient;
    display: inline-block; 
    width: 100%;

    text-align: center;
    justify-content: center;
    align-items: center;

    color: white;
    
    font-family: 'Michroma', sans-serif;

    margin: 0;
    padding: 0;

    border-top: 0 none;
}

a{
    color: white;
    text-decoration: none;

}

.separation{
    height: 5px;
    width: 130px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    border-radius: 5px;
    opacity: 1;
    
}
.Websites{
    padding:30px;

}
.Websites > a{
    padding:2%;
}
.Contact{
    padding:30px;

}
.info{
    padding:30px;
}

