.home {
    background-color: black;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    height: 100%;
}

.panel_1{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

    position:relative;

    margin-top: 60px;

}
h1{

    margin-left:  2%;
    margin-right:  2%;

}

.carousel {
    min-width: 400px; 
    max-width: 900px;
    height: auto;

    margin-left:  2%;
    margin-right:  2%;

    
}

.carousel_img{
    width: 100%;
    height: auto;
    padding:80px;
}

/* ----------------------------------------------------- */
 
.panel_2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}

/* ----------------------------------------------------- */

.titre_flex{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

}

.titre_flex > img{


    width: 200px;
    height: 200px;
    border-radius: 100px;

}

/* ----------------------------------------------------- */

.a-propos{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

    margin-top: 80px;
    margin-bottom: 80px;

}

/* ----------------------------------------------------- */

.presentation{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;

    padding:20px;

    margin-left:4%;
    margin-right:4%;

}

/* ----------------------------------------------------- */

.presentation_2{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;

    padding:20px;

    margin-left:4%;
    margin-right:4%;
    margin-top: 50px;
    margin-bottom: 50px;

}

.progress-bar-wrap{
    display:flex;
    justify-content: space-between; /* Ajoutez cette ligne */
}

.progress-bar-container {
    background-color: #f3f3f3;
    border-radius: 10px;

    height: 20px;
    width: 200px;

    margin: 5px;

  }

  .progress-bar {
    background-color: #00bdb7;
    border-radius: 10px;
    
    height: 100%;
    width: 0;

  }
  

/* ----------------------------------------------------- */

.presentation_3{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;

    padding:20px;

    margin-left:4%;
    margin-right:4%;
}


/* ----------------------------------------------------- */

.panel_3{
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    margin-top: 6%;
    padding-bottom: 6%;

}

.projet{

    padding-top: 40px;


    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

}

.proj{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;

    padding:20px;
    margin: 20px;

}

.proj > a > img{
    width:80px;
}

/* ----------------------------------------------------- */

.Proj_Button{
      
    text-decoration: none;
  
    height: 40px;
    width: 120px;
  
    border: 0px solid rgb(255, 255, 255);
    border-radius:5px;

    background : white;
    color: rgb(0, 0, 0);

    margin-bottom:20px;
    padding:10px;

    transition : 0.3s;
}
  
.Proj_Button:hover{
  
    border-radius:20px;
    
}

summary{
    font-size:x-large;
}

/* ----------------------------------------------------- */

.page-container {
    /* Styles de base de la page */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
  
/* ----------------------------------------------------- */


@media screen and (max-width: 768px) {


    .carousel {
        margin: 0;
        
    }
}
