.home {
    background-color: black;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    color: white;

    margin: 0;
    padding: 0;
    
    
    height: 100%;
}

.panel_1{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

    position:relative;

    padding-top:100px;

}
.titre_style{

    margin-left:4%;
    margin-right:4%;

}

c-carousel{
    width:500px;
}

.image_carousel{
    width:500px;
}

.carousel-caption-custom {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.circle{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: rgb(30, 30, 30); 
    padding-top:20px;

    position: relative; 

    left: 50%;
    transform: translate(-50%, 50%);
}

.circle > .material-symbols-outlined{

    font-size: 60px;

}



/* ----------------------------------------------------- */
 
.panel_2{
    background: linear-gradient(90deg, rgb(17, 0, 167) 0%, rgb(0, 99, 238) 100%);
    width: 100%;

    padding-top:50px;
    padding-bottom:50px;
}

.circle_2 {

    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: rgb(0, 76, 255); 
    padding-top:20px;

    position: relative; 

    left: 50%;
    transform: translate(-50%,-50%);

}

.circle_2 > .material-symbols-outlined{

    font-size: 60px;

}

.titre_flex{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

}

.titre_flex > img{

    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left:80px;

}

.a-propos{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

    margin-top: 80px;
    margin-bottom: 80px;

}

.presentation{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;

    padding:20px;

    margin-left:4%;
    margin-right:4%;

}

.presentation_2{

    font-family: 'Roboto', sans-serif;

    width: 400px;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;

    padding:20px;

    margin-left:4%;
    margin-right:4%;
    margin-top: 50px;
    margin-bottom: 50px;

}

.progress-bar-wrap{
    display:flex;
    justify-content: space-between; /* Ajoutez cette ligne */
}

.progress-bar-container {
    background-color: #f3f3f3;
    border-radius: 10px;

    height: 20px;
    width: 200px;

    margin: 5px;

  }

  .progress-bar {
    background-color: #0037ff;
    border-radius: 10px;
    
    height: 100%;
    width: 0;

  }
  
.presentation_3{

    font-family: 'Roboto', sans-serif;

    background-color: rgb(0, 0, 0);
    border-radius: 5px;

    padding:20px;

    margin-left:10%;
    margin-right:10%;
}

/* ----------------------------------------------------- */

.panel_3{

    background-color: rgb(0, 0, 0);
    width: 100%;

    padding-bottom: 6%;

}

.projet{

    padding-top: 40px;


    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;

    margin-left:auto;
    margin-right: auto;

}

details{

    font-family: 'Roboto', sans-serif;

    width: 400px;

    background-color: rgb(80, 80, 80);
    border-radius: 5px;

    padding:20px;
    margin: 20px;

} 

details[open] {
    height: 300px; 
 }

details > a > img{
    width:80px;
}

details[open] > summary{
    margin-bottom: 30px;
}

/* ----------------------------------------------------- */

.Proj_Button{
      
    text-decoration: none;
  
    height: 40px;
    width: 120px;
  
    border: 0px solid rgb(255, 255, 255);
    border-radius:5px;

    background : white;
    color: rgb(0, 0, 0);

    margin-bottom:20px;
    padding:10px;

    transition : 0.3s;
}
  
.Proj_Button:hover{
  
    border-radius:20px;
    
}

summary{
    font-size:x-large;
}
  
/* ----------------------------------------------------- */


@media screen and (max-width: 768px) {


    .carousel {
        margin: 0;
        
    }

    .presentation,.presentation_2,.presentation_3{
        margin-left: 50px;
        margin-right: 50px;

    }
}
