<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/account" >
      <span class="material-symbols-outlined">        
        account_circle
      </span>
    </a>
    <a routerLink="/" class="nav-toggle" (click)="toggleMenu()">
      <span class="material-symbols-outlined">        
        {{menuIcon}}
      </span>
    </a>
    <ul class="nav-links" [ngClass]="{'nav-active': menuActive}">
      <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
      <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li> -->
      <li><a (click)="scrollToElement('a-propos-section')" routerLinkActive="active">À propos</a></li>
      <li><a (click)="scrollToElement('projet')" routerLinkActive="active">Projets</a></li>
      <li><a (click)="scrollToElement('contact')" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>

  