<div class = "leston">

    <div class = "panel_1">

        <a class="button_back" routerLink="/">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </a>

        <h1>Leston</h1>
    </div>

    <div class="panel_2">

        <div class = "panel_2_1">

            <div style = "display: flex; justify-content: left;">
                <h3>We like </h3>
                <h3 class="word" style="margin-left: 10px;"></h3>
            </div>

        </div>

        <div class = "panel_2_2">
            <div>
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                    check_circle
                </span> Free
            </div>
            
            <div>
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                    check_circle
                </span> MacOS Ventura (v13)
            </div>

            <div>
                <span class="material-symbols-outlined" style="vertical-align: middle;">
                    check_circle
                </span> Fast
            </div>

        </div>
        
    
    </div>    
    
    
    <hr class="new ">
    
    <h3>About the project</h3>


<!--    <div class="image-container">
            <img src="../../assets/img_leston/bienvenu.png" alt="Votre image">
            <div class="overlay">
              <p class="overlay-text">Texte qui apparaît sur l'image</p>
            </div>
        </div> -->

    <div class="panel_3">
        <div class="panel_3_1">
            <div class="image-container">
                <img src="../../assets/img_leston/bienvenu.png" alt="Votre image">
                <div class="overlay">
                    <p class="overlay-text">Texte qui apparaît sur l'image</p>
                </div>
            </div>
        </div>
        
        <div class="panel_3_1">
            <div class="image-container">
                <img src="../../assets/img_leston/submit.png" alt="Votre image">
                <div class="overlay">
                    <p class="overlay-text">Texte qui apparaît sur l'image</p>
                </div>
            </div>
        </div>
        
        <div class="panel_3_1">
            <div class="image-container">
                <img src="../../assets/img_leston/excel_graph.png" alt="Votre image">
                <div class="overlay">
                    <p class="overlay-text">Texte qui apparaît sur l'image</p>
                </div>
            </div>
        </div>
    </div>
          
   
    <hr class="new ">

    <h3>Download</h3>

    <div class = "panel_4">

        <a class = "button_download" [href]="fileUrl" download="file.txt">Download V1.2</a>

        <div class = "panel_4_1">
            <p>Choose an older version :</p>

            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                Choose <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">V1.2 (2023)</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">V1 (2022)</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">not stable version</a>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="new ">

    <h3>Question</h3>

    

</div>