$color_gradient : linear-gradient(90deg, rgb(17, 0, 167) 0%, rgb(0, 99, 238) 100%);

.navbar {
  background: $color_gradient;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;

  font-family: 'Michroma', sans-serif;

}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
}


.nav-toggle {
  display: none;
  cursor: pointer;
}

.material-symbols-outlined {

  font-size: 40px;
  color: #fff;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  padding: 5px 10px;
}

.nav-links li a:hover,
.nav-links li a.active {
  background-color: black;
  color: #fff;
  border-radius: 4px;
}

.btn_1{

  background-color: blue;
  color: white;
  border-style: none;
  padding: 10px;
  border-radius: 5px;

  position: fixed;
  bottom: 50px;
  transform: translateX(-50%);

}

.btn_2{

  background-color: rgb(255, 0, 0);
  color: white;
  border-style: none;
  padding: 10px;
  border-radius: 5px;

}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;

  }

  .nav-links {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-links.nav-active {
    opacity: 1;
    visibility: visible;
  }

.nav-links li a:hover,
.nav-links li a.active {
  background-color: white;
  color: black;
  border-radius: 4px;
}

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links li a {
    margin-left: 0;
    font-size: 1.2em;
  }

}
